/*
header{
    background-image: url('../hhhh.jpg');
    background-size: cover;
}
*/

body{
    background-color: black !important;
    
}

h3{
 color: white ;
}

.titleco{
    color: black;
}

h1{
    color: white;
}


.r-image{
    height: 150px;
}



a{
    color: white !important;
}

img{
    border-radius: 10px;
}

